{% load static %}
{% include 'components/navbar.html' %}
<head>
    <title>Home - HolyEye</title>
</head>
<fieldset>
    <legend> Buttons Shit </legend>
    <div>
        <input type="radio" name="something1" value="something1">
        <label for="something1">Something1</label> 
    </div>

    <div>
        <input type="radio" name="something2" value="something2">
        <label for="something2">Something2</label>  
    </div>

    <div>
        <input type="radio" name="something3" value="something3">
        <label for="something3">Something3</label>  
    </div>

    <div>
        <input type="radio" name="something4" value="something4">
        <label for="something4">Something4</label>  
    </div>

    <div>
        <input type="radio" name="something5" value="something5">
        <label for="something5">Something5</label>  
    </div>  
</fieldset>
 <br><br><br><br>
<fieldset>
    <legend> Input Shit </legend>   
    <div>
        <input type="text" name="input1" value="input1">  
    </div>
    <br>
    <div>
        <input type="text" name="input2" value="input2">  
    </div>
    <br>
    <div>
        <input type="text" name="input3" value="input3">    
    </div>
    <br>
    <div>
        <input type="submit" value="Submit">
    </div>
</fieldset>

