<head>
    <title>Home - HolyEye</title>
</head>
<p>
    Some Buttons Shit <br> <br>
    <input type="radio" name="something1" value="something1">
    <label for="something1">Something1</label> <br>

    <input type="radio" name="something2" value="something2">
    <label for="something2">Something2</label> <br>

    <input type="radio" name="something3" value="something3">
    <label for="something3">Something3</label> <br>

    <input type="radio" name="something4" value="something4">
    <label for="something4">Something4</label> <br>

    <input type="radio" name="something5" value="something5">
    <label for="something5">Something5</label> <br>
    <br> <br>

    Some Input Shit <br> <br>
    <input type="text" name="input1" value="input1"> <br>

    <input type="text" name="input2" value="input2"> <br>

    <input type="text" name="input3" value="input3"> <br> <br>

    <input type="submit" value="Submit">

</p>
